/* Font styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@700&display=swap');

/* common styles or utilities */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ---------------------
cover styles start
----------------------- */

.container {
    width: 80%;

    background-color: #161616;
    color: #fff;
    display: flex;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 15px;

}

.cover-titel {
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 80px;

}

.container .cover-titel {
    width: 50%;

}

.cover-titel h1 {
    font-size: 4vw;
}

.cover-titel p {
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn {
    border-radius: 5px;
    background: linear-gradient(orangered, orange);
    padding: 10px 15px;
    width: 120px;
    position: relative;
    transition: transform 1s;
}

.btn:hover {
    transform: scale(1.2);
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.container .cover-image {
    width: 50%;
}

.container .cover-image img {
    width: 100%;
    height: 100%;
}

.cover-image {
    padding-right: 50px;
    padding-top: 30px;
}

.fa-angle-right {
    padding-left: 20px;
}

/*=========== cover styles end ======== */

/* ________________________
  Main tag styles start 
________________________*/

#container {
    display: flex;
}

.box {
    margin-top: 100px;
    margin-left: 140px;
}

.a-box {

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #161616;
    height: 280px;
    width: 200px;
    border-radius: 7px;
}

.a-box li {
    list-style: none;
    background-color: #fafafa;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
}

.a-box li a {
    text-decoration: none;
    color: #161616;
}

#color {
    background-color: red;
}

.transfers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: 65%;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.transfer {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 6px;

}

.transfer-image {
    margin-bottom: 20px;
}

.transfer-image img {
    width: 100%;

}

#short-text {
    border: 1px solid;
    padding: 5px 13px;
    border-radius: 7px;
}

.time-comment {
    display: flex;
    margin-top: 15px;
    color: #161616B2;

}

#comment {
    margin-left: 20px;
}

.view-all {
    visibility: hidden;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

#view {
    padding-left: 22px;
}

/*--------------------------
    main tag styles end
------------------------- */

/*-----------------
    footer syles
------------------- */
#footer-area {

    /* height: 600px; */
    background-color: #161616;
}

.footer-text {
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

hr {
    color: #FFFFFF;
    opacity: 0.1;
    margin: 20px 150px;

}

.footer-settings {
    display: flex;

    justify-content: center;
    margin-top: 50px;

    color: #FFFFFF;
    opacity: 0.6;
    font-size: 17px;

}

.footer-anchor {
    text-align: center;
    margin-top: 70px;

}

.fa-facebook {
    color: white;
    padding-right: 30px;
    font-size: 25px;

}


.fa-linkedin {
    color: #FFFFFF;
    padding-right: 30px;
    font-size: 25px;

}


.fa-instagram-square {
    color: #fff;
    padding-right: 30px;
    font-size: 25px;
}


/*-------------------------
          Media Query
 ------------------------------- */


/*----------- only small device-------------- */



@media only screen and (max-width: 676px) {

    body {
        width: 100%;
    }

    .container {
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        max-width: 100%;
        width: 100%;

    }

    .container .cover-image {
        width: 100%;
    }

    .cover-titel h1 {
        font-size: 7.5vw;
    }

    #container {
        flex-direction: column;
    }

    .box {
        margin-top: 0;
        margin-left: 0;

    }

    .a-box {


        background-color: white;
        width: 100%;
    }

    .a-box li {
        font-size: 30px;
    }

    .transfers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        margin: 0;
        width: 100%;
    }

    .footer-settings {
        display: grid;
        grid-template-columns: rows(5, 1fr);
        row-gap: 10px;
        align-items: center;
        justify-content: center;
        height: 0;
        width: 0;

    }


}


/* --------------only Tablet Decices--------------- */

@media only screen and (min-width: 677px) and (max-width: 992px) {

    body {
        width: auto;
    }

    .container {

        margin-left: 0;
        margin-top: 0;
        margin-right: 0;

        width: 100%;

    }

    #container {
        flex-direction: column;
    }

    .a-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        width: 100%;
        background-color: #fff;


    }

    .transfers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        width: auto;
    }




}